@()(implicit session: Session, flash: Flash)

@main("About"){

<div>

    About this page....
    <br/><br/>

    The main framework of this app is built using the <a href="https://www.playframework.com/" target="_blank">Play</a> framework, with
    Scala as the underlying language.
    The css framework is <a href="https://bulma.io/" target="_blank">Bulma</a>, with the <a href="https://www.playframework.com/documentation/2.7.x/ScalaTemplates" target="_blank">Twirl</a> templating engine.

    <br/><br/>
    The main database entities are
    <ul>
        <li>AlbumImage</li>
        <li>Album</li>
        <li>ArtistImage</li>
        <li>Artist</li>
        <li>Review</li>
        <li>Track</li>
        <li>User</li>
    </ul>

    <br/>
    I had to make a few design decisions;
    The case classes, album, artist, and review all only store
    the references to any foreign keys
    <br/>

    For example...
    <br/>
    review contains
    <br/>
    <p><b>Review</b>(id: Option[Long], albumId: Long, userId: Long, addedOn: LocalDateTime, content: String, rating: Float)</p>
    <br/>
    So any time i get a Review from the database, it doesn't have the actual Album object, or User object, etc.
    <br/>
    But i have an expanded version called ReviewFull, which does. and looks like so
    <br/>
    <p><b>ReviewFull</b>(id: Long, album: AlbumFull, user: User, addedOn: LocalDateTime, content: String, rating: Float)</p>
    <br/>
    which is not stored in the database, but can be constructed from the trimmed version using the same dao.<br/>
    <b>ReviewDao.getReview(id: reviewId)</b> to get review<br/>
    and<br/>
    <b>ReviewDao.getFullReview(review: Review)</b> to get expanded version.

</div>

}