@(reviews: List[Review], album: Album, reviewForm: Form[Review], msg: String)(implicit messages: Messages)

@import helper._

@main(album.name) {

    <h2>@album.name reviews</h2>

    @helper.form(action = routes.AlbumController.addReview(album.id.get)){
@*//        @inputText(reviewForm("albumId"), 'style -> "display: none")*@
@*//        @inputText(reviewForm("userId"), 'style -> "display: none")*@
        @inputText(reviewForm("content"))

        <input type="hidden" id="albumId" name="albumId" value="@album.id"/>
        <input type="hidden" id="userId" name="userId" value="1"/>

        <div class="form-actions">
            <input type="submit" class="" value="Add Review">
        </div>
    }

    <table>
        @for(r <- reviews){
            <tr>
                <td>
                    @r.userId
                </td>
                <td>
                    @r.getFormattedDate()
                </td>
                <td>
                    @*<a href="@controllers.routes.AlbumController."*@
                    @r.content
                </td>
            </tr>
        }
    </table>

}