@import models.album.Album
@import models.artist.Artist
@import models.album.AlbumFull
@(albums: List[AlbumFull], nonDBAlbums: List[com.steven.hicks.beans.Album], artist: Artist)(implicit message: Messages, session: Session)

@main(artist.name) {

    <h3>@artist.name</h3>

    <table>
    @for(a <- albums){
        <tr>
            <td>
                @a.year
            </td>
            <td>
                <img src="@a.getMediumImage().url"/>
            </td>
            <td>
                <a href="@controllers.routes.AlbumController.albumHome(a.id)">@a.name</a>
            </td>
        </tr>
    }
    </table>

    or add another album

    <table>
        @for(a <- nonDBAlbums) {
            <tr>
                <td></td>
                <td></td>
                <td><a href="@controllers.routes.ArtistController.addAlbumToDatabase(artist.id.get, a.getMbid)">@a.getName</a></td>
            </tr>
        }
    </table>
}