@import models.artist.Artist
@import models.artist.ArtistFull
@import helper._
@(artists: List[ArtistFull], nonDBArtists: List[com.steven.hicks.beans.artist.Artist], searchTerm: String)(implicit message: Messages, session: Session)


    @main("Search Results", "") {
        <h2>Search Results for '@searchTerm'</h2>

        <h4>@artists.size search results</h4>

        <table class="table">
            <tbody>
            @for(a <- artists){
                <tr>
                    <td>
                    @if(a.getMediumImage(a.images).nonEmpty){
                        <figure class="image is-128x128">
                            <a href="@controllers.routes.ArtistController.artistHome(a.id)">
                                <img class="is-rounded" src="@a.getLargeImage(a.images).get.getUrl"/>
                            </a>
                        </figure>
                    } else {
                        <figure class="image is-128x128">
                            <a href="@controllers.routes.ArtistController.artistHome(a.id)">
                                <img class="is-rounded" src="@routes.Assets.versioned("images/artistNoPicture.png")"/>
                            </a>
                        </figure>
                    }
                    </td>
                    <td><a href="@controllers.routes.ArtistController.artistHome(a.id)">@a.name</a></td>
                </tr>
            }
            </tbody>
        </table>

        <br/>
        <h3>Or select an Artist that is not yet in the Database.</h3>
        <table class="table">
            <tbody>
            @for(a <- nonDBArtists){
                <tr>
                    <td></td>
                    <td><a href="@controllers.routes.ArtistController.createArtist(a.getMbid)">@a.getName</a></td>
                </tr>
            }
            </tbody>
        </table>
    }

