@import models.album.Album
@import models.artist.Artist
@import models.artist.ArtistFull
@import models.album.AlbumFull
@import models.review.ReviewDao
@import helper._
@import models.user.User
@(albumsAndRatings: List[(AlbumFull, Float)], nonDBAlbums: List[com.steven.hicks.beans.album.Album], artist: ArtistFull, user: Option[User])(implicit message: Messages, session: Session, flash: Flash)

@main(artist.name) {

    <br/>

    <div class="columns">
        <div class="column is-two-fifths">
            <div class="level">
                <div class="level-item is-center">
                    <h1 class="title">@artist.name</h1>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <div class="image">
                        <img src="@artist.getArtistImage.get.getUrl" />
                    </div>
                    <div class="card-content">
                        <div class="content">
                            @artist.getSummary ...
                            <a href="@artist.getLink" target="_blank">Read more on Last.fm</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="column is-three-fifths">
            <br/><br/>
            <table class="table">
                <tbody>
                @for((a,r) <- albumsAndRatings){
                    <tr>
                        <td>
                        @if(r != r) {
                            -
                        } else {@r}
                        </td>
                        <td>
                        @if(a.getMediumImage(a.images).nonEmpty){
                            <img src="@a.getMediumImage(a.images).get.getUrl"/>
                        }else{
                            <img src=""/>
                        }
                        </td>
                        <td>
                            <a href="@controllers.routes.AlbumController.albumHome(a.id)">@a.name</a>
                            <br/>
                            @a.releaseDate.getYear
                        </td>
                        @if(user.nonEmpty && user.get.isAdmin) {
                            <td>
                                <a class="button is-danger is-outlined" href="@routes.ArtistController.deleteAlbum(a.id)">
                                    <span>Delete</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-times"></i>
                                    </span>
                                </a>
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Or add an album that's not yet in the database(if you are a <a href="@routes.UserController.registerHome()">registered user</a>).</th>
                    </tr>
                    @for(a <- nonDBAlbums) {
                        <tr>
                            <td>
                            @if(user.nonEmpty) {
                                <a href="@controllers.routes.ArtistController.addAlbumToDatabase(artist.id, a.getMbid, a.getName)">@a.getName</a>
                            } else {
                                @a.getName
                            }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
}