@import models.artist.Artist
@import models.artist.ArtistFull
@(artists: List[ArtistFull], nonDBArtists: List[com.steven.hicks.beans.Artist], searchTerm: String)(implicit message: Messages, session: Session)

    @import helper._

    @main("Search Results") {
        <h2>Search Results for '@searchTerm'</h2>

        <h4>@artists.size search results</h4>

        <table>
        @for(a <- artists){
            <tr>
                <td>
                @if(a.getMediumImage(a.images).nonEmpty){
                <img src="@a.getMediumImage(a.images).get.getUrl"/>
                    } else {
                <img src=""/>
                    }
                </td>
                <td><a href="@controllers.routes.ArtistController.artistHome(a.id)">@a.name</a></td>
            </tr>
        }
        </table>

        <br/>
        <h3>Or select an Artist that is not yet in the Database.</h3>
        <table>
        @for(a <- nonDBArtists){
            <tr>
                <td></td>
                <td><a href="@controllers.routes.ArtistController.createArtist(a.getMbid)">@a.getName</a></td>
            </tr>
        }
        </table>
    }

