@import models.review.Review
@import models.review.ReviewFull
@(message: String, recentReviews: List[ReviewFull])(implicit session: Session)

@main("Music Reviews") {

  @{if (message.length() > 0)
    message
  }

  Please feel free to add your own reviews
  <br/>
  These are reviews of some albums I have listened to over the years.
  <br/><br/>

  <h3>Recent Reviews:</h3>
  <table border="1">
  @for(r: ReviewFull <- recentReviews){
    <tr>
      <td>
        <img src="@r.album.getLargeImage(r.album.images).get.getUrl"/>
      </td>
      <td>
        <a href="@controllers.routes.ArtistController.artistHome(r.album.artist.id.get)">
        @r.album.artist.name
        </a>
      </td>
      <td>
        <a href="@controllers.routes.AlbumController.albumHome(r.album.id)">
        @r.album.name
        </a>
      </td>
      <td>
        <a href="@controllers.routes.UserController.userHome2(r.user.id)">
        @r.user.username
        </a>
      </td>
      <td>@r.content</td>
    </tr>
  }
  </table>



}
