@import models.user.User
@(loginForm: Form[User], msg: String)(implicit message: Messages, session: Session)

    @import helper._

    @main("Login", msg) {

        @{if(msg.length > 0)
            msg
        }

        <a href="@controllers.routes.UserController.registerHome(None)">Register</a>
        <br/><br/>

        <h2>Login</h2>

        @helper.form(action = routes.UserController.login()){

            @inputText(loginForm("Username"), '_showConstraints -> false)
            @inputPassword(loginForm("Password"), '_showConstraints -> false)

            <div class="form-actions">
                <input type="submit" class="" value="Login">
            </div>
        }
    }