@import models.user.User
@(loginForm: Form[User])(implicit message: Messages, session: Session, flash: Flash)

    @import helper._

    @main("Login") {

        <a href="@controllers.routes.UserController.registerHome()">Register</a>
        <br/><br/>

        <h2>Login</h2>

        @helper.form(action = routes.UserController.login()){

            @inputText(loginForm("Username"), '_showConstraints -> false)
            @inputPassword(loginForm("Password"), '_showConstraints -> false)

            <div class="form-actions">
                <input type="submit" class="" value="Login">
            </div>
        }
    }