@import models.user.User
@(loginForm: Form[User])(implicit message: Messages, session: Session, flash: Flash)

    @import helper._

    @main("Login") {

        <br/>
        <a class="button" href="@controllers.routes.UserController.registerHome()">Register</a>
        <br/>

        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <h2 class="title">Login</h2>
                <div class="box">
                @helper.form(action = routes.UserController.login()){

                    @inputText(loginForm("Username"), '_showConstraints -> false)
                    @inputPassword(loginForm("Password"), '_showConstraints -> false)

                    <div class="form-actions">
                        <input type="submit" class="" value="Login">
                    </div>
                }
                </div>
            </div>
        </div>

    }