@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)(implicit session: Session, flash: Flash)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bulma.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        @*<meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src *"/>*@
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="@routes.Assets.versioned("javascripts/burgerLoader.js")"></script>
        <script>

            function toggleModalsOff()
            {
                var modal = document.querySelector('.modal');
                modal.classList.remove('is-active');
            }

            function doModal(content)
            {
                if (content.length>0) {
                    var modal = document.querySelector('.modal');
                    modal.classList.add('is-active');
                    document.querySelector('#modalContent').innerHTML = content;
                }
            }

        </script>

    </head>
    <body>
        <nav class="navbar is-light" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <a href="@controllers.routes.HomeController.index()">
                        <figure class="image">
                            <img src="@routes.Assets.versioned("images/StevesMusicReviews.png")"/>
                        </figure>
                    </a>
                </div>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarLinks">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarLinks" class="navbar-menu">
                <div class="navbar-start is-light">
                    <div class="navbar-item">
                        <a href="@controllers.routes.ArtistController.artistSearchHome()">Search for artist</a>
                    </div>
                    <div class="navbar-item">
                        <a href="@controllers.routes.ReviewController.topRated()">Top Rated</a>
                    </div>
                    @if(session.get("userId").nonEmpty) {
                        <div class="navbar-item">
                            <a href="@controllers.routes.UserController.userHome()">My Account</a>
                        </div>
                        <div class="navbar-item">
                            <a href="@controllers.routes.UserController.logout()">Logout</a>
                        </div>
                    }else{
                        <div class="navbar-item">
                            <a href="@controllers.routes.UserController.loginHome()">Login/Register</a>
                        </div>
                    }
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        ...when words fail, music speaks
                    </div>
                </div>
            </div>

            <hr class="navbar-divider">
        </nav>
        <div class="container">
        @content
        </div>
        <footer class="footer">
            <div class="content has-text-centered">
                <a href="http://shicks255.com">Steven Hicks</a>
                <a href="@controllers.routes.HomeController.about()">About</a>

                <br/>
                &copy;Steven M Hicks - License
            </div>
        </footer>
        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box" id="modalContent">

                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>

        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
        <script>
                var modalBackground = document.querySelector(".modal-background");
                var modalCloseButton = document.querySelector(".modal-close");

                modalBackground.addEventListener('click', function(){
                    toggleModalsOff();
                });
                modalCloseButton.addEventListener('click', function(){
                    toggleModalsOff();
                });

                @if(flash.get("msg").nonEmpty){
                    doModal('@flash.get("msg").get');
                }

                var buttons = document.querySelectorAll("[id^='reviewButton_']");
                buttons.forEach((el) => {
                    el.addEventListener('click', () => {
                        let id = el.id.split("_");
                        let contentElement = document.getElementById('reviewContent_' + id[1]);
                        if (contentElement)
                            contentElement.classList.toggle('collapsed');
                        el.classList.toggle('fa-rotate-270');
                    });
                });
        </script>
    </body>

</html>
