@import models.review.ReviewFull
@(r: ReviewFull)

<div class="box">
    <div>
        <div class="@r.getColorClass">
            <a href="@routes.UserController.userHome2(r.user.id)">@r.user.username</a>
            <br/>
            <span class="tag @r.getColorClass">
                        Rating: @r.rating
                    </span>
            <br/>
            @r.formatDate()
        </div>
        <div>
            <pre style="visibility: collapse;">@r.content</pre>
        </div>
    </div>
</div>