@import models.review.ReviewFull
@(r: ReviewFull)

<div class="box">
    <div class="columns">
        <div class="column is-one-quarter">
            <a href="@controllers.routes.ArtistController.artistHome(r.album.artist.id.get)"><b>@r.album.artist.name</b></a>
            <figure class="image is-128x128">
                <a href="@controllers.routes.AlbumController.albumHome(r.album.id)">
                    <img src="@r.album.getLargeImage(r.album.images).get.getUrl"/>
                </a>
            </figure>
            <a href="@controllers.routes.AlbumController.albumHome(r.album.id)">@r.album.name</a>
        </div>
        <div class="column is-three-quarters">

            <div class="message @r.getColorClass">
                <div class="message-header">
                    <div>
                        <a style="color: blue" href="@routes.UserController.userHome2(r.user.id)">@r.user.username</a>
                        <br/>
                        @r.formatDate()
                        <br/>
                        Rating: @r.rating
                    </div>
                </div>
                <div class="message-body">
                    @r.content
                </div>
            </div>

        </div>
    </div>
</div>