@import models.review.ReviewFull
@(r: ReviewFull)

<div class="box">
    <div>
        <div class="@r.getColorClass">
            <a href="@routes.UserController.userHome2(r.user.id)">@r.user.username</a>
            <br/>
            <span class="tag @r.getColorClass">
                Rating: @r.rating
            </span>
            <br/>
            @r.formatDate()
        </div>
        <div>
            <span class="icon" id="reviewButton_@r.id" style="cursor: pointer">
                <i class='fas fa-arrow-down'></i>
            </span>
            <div class="reviewContent" id="reviewContent_@r.id">@r.content</div>
        </div>
    </div>
</div>