@import models.album.AlbumFull
@(albumsAndRatings: List[(models.album.AlbumFull, Float)])(implicit session: Session)

@main("Top Rated", ""){
    <table class="table">
        <tbody>
        @for(((a: AlbumFull, b: Float), index) <- albumsAndRatings.zipWithIndex) {
            <tr>
                <td>@(index+1)</td>
                <td>
                    <a href="@controllers.routes.ArtistController.artistHome(a.artist.id.get)"><b>@a.artist.name</b></a>
                    <figure class="image is-128x128">
                        <a href="@controllers.routes.AlbumController.albumHome(a.id)">
                            <img src="@a.getLargeImage(a.images).get.getUrl"/>
                        </a>
                    </figure>
                    <a href="@controllers.routes.AlbumController.albumHome(a.id)">@a.name</a>
                </td>
                <td>@b</td>
            </tr>
        }
        </tbody>
    </table>
}