@import models.review.ReviewFull
@import models.user.{EditUserForm, User, UserStats}
@(reviews: List[ReviewFull], editForm: Form[EditUserForm], user: User, isCurrentUser: Boolean, userStats: UserStats)(implicit message: Messages, session: Session, flash: Flash)

@import helper._

@main(if(isCurrentUser){"My Account"}else{"User Profile"}) {

    <div class="columns">
        <div class="column is-one-third">
            <br/><br/>
            @if(isCurrentUser){
                <article class="message">
                    <div class="message-header">
                        Edit your account
                    </div>
                    <div class="message-body">
                    @helper.form(action = routes.UserController.editUser(user.id)){

                        @inputText(editForm("email"))
                        <br/>
                        @checkbox(editForm("emailList"), '_label -> "Receive Emails", '_class -> "input-block-level", '_showConstraints -> false)
                        @*<input type="checkbox" checked="@user.emailList" name="emailList" id="emailList"/>*@
                        @*<label for="emailList">Receive Emails</label>*@
                        @*<br/>*@
                        <input type="hidden" name="userId" id="userId" value="@user.id">

                        <br/><br/>
                        <input type="submit" class="" value="Update">
                        }
                    </div>
                </article>
            }

            <article class="message">
                <div class="message-header">
                    @user.username
                </div>
                <div class="message-body">
                    <table class="table">
                        <tr>
                            <td>Reviews:</td>
                            <td>@userStats.reviews</td>
                        </tr>
                        <tr>
                            <td>5-Star Reviews:</td>
                            <td>@userStats.fiveStars</td>
                        </tr>
                        <tr>
                            <td>Average Rating:</td>
                            <td>@userStats.averageRating</td>
                        </tr>
                        <tr>
                            <td>Average Review Length:</td>
                            <td>@userStats.averageReviewLength letters</td>
                        </tr>
                        <tr>
                            <td>Last Review:</td>
                            <td>@userStats.lastReviewFormatted</td>
                        </tr>

                    </table>
                </div>
            </article>
        </div>

        <div class="column is-two-thirds">
            <div class="level">
                <div class="level-item is-center">
                    <h1 class="title is-center">Reviews</h1>
                </div>
            </div>

            @for(r <- reviews){
                @reviewComponentWithImage(r)
            }
        </div>
    </div>


}