@import models.review.ReviewFull
@(reviews: List[ReviewFull], user: models.user.User, isCurrentUser: Boolean)(implicit message: Messages, session: Session)

    @import helper._

    @main(if(isCurrentUser){"My Account"}else{"Other Person"}) {

        <h2>Edit your Account</h2>
        Your reviews:

        @for(r <- reviews){
            <div class="box">
                <div class="columns">
                    <div class="column is-one-quarter">
                        <a href="@routes.ArtistController.artistHome(r.album.artist.id.get)"><b>@r.album.artist.name</b></a>
                        <figure class="image is-128x128">
                            <img src="@r.album.getLargeImage(r.album.images).get.getUrl" />
                        </figure>
                        <a href="@routes.AlbumController.albumHome(r.album.id)">@r.album.name</a>
                    </div>
                    <div class="column is-three-quarters">
                        @r.rating -
                    <a href="@controllers.routes.UserController.userHome2(r.user.id)">@r.user.username</a>-
                        @r.formatDate()
                    <br/>
                        @r.content
                    </div>
                </div>
            </div>

        }

    }